# Mars Weather Datascrape

In [1]:
# Import relevant libraries
from splinter import Browser
from selenium.webdriver.chrome.service import Service
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Launch the browser
my_service = Service(executable_path="C:\\Users\\hfatt\\Downloads\\chromedriver\\chromedriver.exe")
browser = Browser('chrome', service=my_service)

## Scrape New Weather Data from Curiosity

In [3]:
# Visit the Mars news site: 

url = 'https://mars.nasa.gov/msl/weather/'
browser.visit(url)

In [4]:
# Create a Beautiful Soup object
# Parse the website
html = browser.html
html_soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Extract all the text elements
weather_data = html_soup.find_all('tbody')
print(weather_data)

[<tbody><tr id="weather_top">
</tr><tr><th class="sol" scope="row">March 8, 2023</th><th class="sol" scope="row">3763</th><td class="temperature max"><span class="fahrenheit"><nobr>-4°F</nobr></span><span class="celsius" style="display: none;"><nobr>-20°C</nobr></span></td><td class="temperature min"><span class="fahrenheit"><nobr>-107°F</nobr></span><span class="celsius" style="display: none;"><nobr>-77°C</nobr></span></td><td class="pressure max">838</td><td class="sun rise">06:21</td><td class="sun set">18:11</td></tr><tr><th class="sol" scope="row">March 7, 2023</th><th class="sol" scope="row">3762</th><td class="temperature max"><span class="fahrenheit"><nobr>-9°F</nobr></span><span class="celsius" style="display: none;"><nobr>-23°C</nobr></span></td><td class="temperature min"><span class="fahrenheit"><nobr>-108°F</nobr></span><span class="celsius" style="display: none;"><nobr>-78°C</nobr></span></td><td class="pressure max">837</td><td class="sun rise">06:21</td><td class="sun set">18:12</td></tr><tr><th class="sol" scope="row">March 6, 2023</th><th class="sol" scope="row">3761</th><td class="temperature max"><span class="fahrenheit"><nobr>-11°F</nobr></span><span class="celsius" style="display: none;"><nobr>-24°C</nobr></span></td><td class="temperature min"><span class="fahrenheit"><nobr>-108°F</nobr></span><span class="celsius" style="display: none;"><nobr>-78°C</nobr></span></td><td class="pressure max">837</td><td class="sun rise">06:21</td><td class="sun set">18:12</td></tr><tr><th class="sol" scope="row">March 5, 2023</th><th class="sol" scope="row">3760</th><td class="temperature max"><span class="fahrenheit"><nobr>-8°F</nobr></span><span class="celsius" style="display: none;"><nobr>-22°C</nobr></span></td><td class="temperature min"><span class="fahrenheit"><nobr>-108°F</nobr></span><span class="celsius" style="display: none;"><nobr>-78°C</nobr></span></td><td class="pressure max">837</td><td class="sun rise">06:22</td><td class="sun set">18:13</td></tr><tr><th class="sol" scope="row">March 4, 2023</th><th class="sol" scope="row">3759</th><td class="temperature max"><span class="fahrenheit"><nobr>-4°F</nobr></span><span class="celsius" style="display: none;"><nobr>-20°C</nobr></span></td><td class="temperature min"><span class="fahrenheit"><nobr>-105°F</nobr></span><span class="celsius" style="display: none;"><nobr>-76°C</nobr></span></td><td class="pressure max">837</td><td class="sun rise">06:22</td><td class="sun set">18:13</td></tr><tr><th class="sol" scope="row">March 3, 2023</th><th class="sol" scope="row">3758</th><td class="temperature max"><span class="fahrenheit"><nobr>-2°F</nobr></span><span class="celsius" style="display: none;"><nobr>-19°C</nobr></span></td><td class="temperature min"><span class="fahrenheit"><nobr>-107°F</nobr></span><span class="celsius" style="display: none;"><nobr>-77°C</nobr></span></td><td class="pressure max">835</td><td class="sun rise">06:22</td><td class="sun set">18:14</td></tr><tr><th class="sol" scope="row">March 2, 2023</th><th class="sol" scope="row">3757</th><td class="temperature max"><span class="fahrenheit"><nobr>-2°F</nobr></span><span class="celsius" style="display: none;"><nobr>-19°C</nobr></span></td><td class="temperature min"><span class="fahrenheit"><nobr>-101°F</nobr></span><span class="celsius" style="display: none;"><nobr>-74°C</nobr></span></td><td class="pressure max">830</td><td class="sun rise">06:23</td><td class="sun set">18:14</td></tr>
</tbody>]

### Store Results in a Python List

In [52]:
# Create an empty list to store the dictionaries
mars_weather = []

In [49]:
for tr in weather_data:
    #tr = td.find_all('tr')
    #row = [th.text for th in tr]
    templist =[]
    for tr in td.find_all("tr"):
        templist.append((tr.text))
    mars_weather.append(templist)

print(mars_weather)

[['\n', 'March 8, 20233763-4°F-20°C-107°F-77°C83806:2118:11', 'March 7, 20233762-9°F-23°C-108°F-78°C83706:2118:12', 'March 6, 20233761-11°F-24°C-108°F-78°C83706:2118:12', 'March 5, 20233760-8°F-22°C-108°F-78°C83706:2218:13', 'March 4, 20233759-4°F-20°C-105°F-76°C83706:2218:13', 'March 3, 20233758-2°F-19°C-107°F-77°C83506:2218:14', 'March 2, 20233757-2°F-19°C-101°F-74°C83006:2318:14']]

In [51]:
# Loop through the text elements
# Extract the weather text from the elements
# Store each item in a dictionary
# Add the dictionary to the list
for tr in weather_data:
    
    for tr in td.find_all("tr"):
    
        date=row.find('th', class_='sol').get_text()
        date2=row.find('th', class_='sol').get_text()
        temp_max=row.find('td', class_='temperature max').get_text()
        temp_min=row.find('td', class_='temperature min').get_text()
        press=row.find('td', class_='pressure max').get_text()

        summary_dict = {
            "date":date,
            "sol":date2,
            "temp_max":temp_max,
            "temp_min":temp_min,
            "pressure":press

        }

        mars_weather.append(summary_dict)
    
mars_weather

[['\n',
  'March 8, 20233763-4°F-20°C-107°F-77°C83806:2118:11',
  'March 7, 20233762-9°F-23°C-108°F-78°C83706:2118:12',
  'March 6, 20233761-11°F-24°C-108°F-78°C83706:2118:12',
  'March 5, 20233760-8°F-22°C-108°F-78°C83706:2218:13',
  'March 4, 20233759-4°F-20°C-105°F-76°C83706:2218:13',
  'March 3, 20233758-2°F-19°C-107°F-77°C83506:2218:14',
  'March 2, 20233757-2°F-19°C-101°F-74°C83006:2318:14'],
 {'date': 'March 8, 2023',
  'sol': 'March 8, 2023',
  'temp_max': '-4°F-20°C',
  'temp_min': '-107°F-77°C',
  'pressure': '838'},
 {'date': 'March 8, 2023',
  'sol': 'March 8, 2023',
  'temp_max': '-4°F-20°C',
  'temp_min': '-107°F-77°C',
  'pressure': '838'},
 {'date': 'March 8, 2023',
  'sol': 'March 8, 2023',
  'temp_max': '-4°F-20°C',
  'temp_min': '-107°F-77°C',
  'pressure': '838'},
 {'date': 'March 8, 2023',
  'sol': 'March 8, 2023',
  'temp_max': '-4°F-20°C',
  'temp_min': '-107°F-77°C',
  'pressure': '838'},
 {'date': 'March 8, 2023',
  'sol': 'March 8, 2023',
  'temp_max': '-4°F-20°C',
  'temp_min': '-107°F-77°C',
  'pressure': '838'},
 {'date': 'March 8, 2023',
  'sol': 'March 8, 2023',
  'temp_max': '-4°F-20°C',
  'temp_min': '-107°F-77°C',
  'pressure': '838'},
 {'date': 'March 8, 2023',
  'sol': 'March 8, 2023',
  'temp_max': '-4°F-20°C',
  'temp_min': '-107°F-77°C',
  'pressure': '838'},
 {'date': 'March 8, 2023',
  'sol': 'March 8, 2023',
  'temp_max': '-4°F-20°C',
  'temp_min': '-107°F-77°C',
  'pressure': '838'}]

In [53]:
# Close browser
browser.quit()

## Build DataFrame

Column names:
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `max_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: the atmospheric pressure at Curiosity's location
* `sunrise`: time of sunrise on Mars, relative to Curiosity's location
* `sunset`: time of sunset on Mars, relative to Curiosity's location

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
mars_df = pd.DataFrame(mars_weather, columns=["terrestrial_date","sol","max_temp","min_temp","pressure","sunrise","sunset"])

mars_df

In [ ]:
# Change data types for data analysis
    # Change terrestrial_date to datetime
mars_df['terrestrial_date'] = pd.to_datetime(mars_df['terrestrial_date'], yearfirst=True, format="%Y/%m/%d")
mars_df.head()

In [ ]:
    # Change sol, ls, month to int
    # Change min_temp, pressure to float

mars_df = mars_df.astype({'sol':'int64', 'ls':'int64', 'month':'int64', 'min_temp':'float', 'pressure':'float'})

In [ ]:
# Write the data to a CSV
mars_df.to_csv('mars_weather_data.csv')